/* General font */
body {
  font-family: Roboto, sans-serif;
}

/* Don't allow images to overflow */
img {
  max-width: 100%;
  height: auto;
}

/* Center the images when they get their own row */
.img-responsive {
  margin: 0 auto;
}

/* Allow the background to wrap the project columns better */
.project {
  margin-bottom: 20px;
  padding-top:20px;
}

/* Change color of project columns to emphasize that they can be clicked */
.project:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

/* Style for horizontal line */
hr {
  border: none;
  height: 4px;
  width: 100%;
  background-color: lightgray;
}

/* Color for big letter O */
.greyletters {
  color: #8c8c8c;
}

/* Display big letter O when letter O does not get its own row */
@media screen and (min-width: 768px) {
  .header-col3 {
    text-align: right;
  }
}

/* Don't display big letter O when letter O gets its own row */
@media screen and (max-width: 767px) {
  header {
    text-align: center;
  }
}

/* Add spacing between glyhp icons for personal links */
.fa {
  margin-right: 25px;
}

/* Font for featured work to present projects */
.gloria-font {
  font-family: 'Gloria Hallelujah', sans-serif;
}

/* Font for my name */
.cinzel-font {
  font-family: Cinzel, sans-serif;
}

/* Make the word proprietary stand out */
.red-font {
  color: red;
}
