# Ignore node modules
node_modules/*

# Ignore compressed images
img/compressed/*

# Ignore resized images
img/responsive/*

# Ignore minified CSS
css/style.min.css

# Ignore production folder
production/*
