{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  {% include "bootstrap-css.html" %}
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content %}
  <header class="jumbotron">
    <h1><a href="/">OM-BLOG</a></h1>
  </header>
  <div class="container">
    <header class="row">
      <div class="col-md-8 col-centered">
        <h1 class="article-title">{{ blog.title }}</h1>
        <time class="article-date" datetime="{{ blog.date }}">
          Posted {{ blog.date.strftime('%d %B %Y') }} by {{ blog.user }}
      </div>
    </header>
    <article class="row article-content col-centered">
      <div class="col-md-8 col-centered">
        <p>{{ blog.text }}</p>
        {% if loggedin and isauthor %}
        <a class="btn btn-primary pull-right" id="edit-button" href="/edit-blog/{{ blog_id }}" role="button">Edit</a>
        {% endif %}
      </div>
    </article>
    <div class="row like-control">
      <div class="col-md-8 col-centered">
        <hr>
        {% if loggedin %}
        <a href="/{{ like_status }}/{{ blog_id }}">
        {% else %}
        <a href="/login">
        {% endif %}
          <p><span class="{{ heart }}">&hearts;</span> {{ 'Recommended' if like_status else 'Recommend' }} <span class="likes-number">{{ blog.likes|count }}</span></p>
        </a>
      </div>
    </div>
    {% if loggedin %}
    <form class="row" method="post" action="/create-comment/{{ blog_id }}">
    {% else %}
    <form class="row" method="post" action="/login">
    {% endif %}
      <div class="col-md-8 col-centered">
        <textarea class="form-control input-lg comment-input" name="text" placeholder="Join the discussion..."></textarea>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
      </div>
    </form>
    <section class="blog-comments">
      {% for comment in comments %}
        <div class="row">
          <div class="col-md-8 col-centered">
            <time class="comment-date" datetime="{{ comment.date }}">
              <b>{{ comment.user }}</b> &bullet; <small>{{ comment.get_timedelta() }}</small>
            </time>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
{% block js %}
  {% include "jquery-js.html" %}
  {% include "bootstrap-js.html" %}
{% endblock %}
