{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  {% include "bootstrap-css.html" %}
{% endblock %}
{% block content %}
  <!-- TODO: move styling to css -->
  <div class="container" style="margin-top: 40px;">
    <form method="post" action="/{{ action }}{{ '/%s' % entry_id if entry_id }}" class="{{ action }}-form" id="{{ action }}-form">
      {% if with_title %}
        <div class="row">
          <!-- input for blog title -->
          <div class="form-group col-xs-6">
            <label for="blog-title">Title</label>
            <input type="text" class="form-control" id="blog-title" name="title" pattern="^\w.*"
              title="The must contain at least one non-white space character"
              value="{{ title_value if title_value }}">
          </div>
        </div>
      {% endif %}
      <div class="row">
        <!-- input for blog content -->
        <!-- TODO: find way to resize textarea automatically -->
        <div class="form-group col-xs-12">
          <label for="{{ action }}-text">{{ label_title }}</label>
          <textarea rows="10" class="form-control" id="{{ action }}-text" name="text" minlength="1">{{ text_value if text_value }}</textarea>
        </div>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="action" value="{{ "save" if text_value else "create" }}">{{ "Save" if text_value else "Create" }}</button>
        <button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>
        {% if text_value %}
          <button type="submit" class="btn btn-primary" name="action" value="delete">Delete</button>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
{% block js %}
  {% include "jquery-js.html" %}
  {% include "bootstrap-js.html" %}
{% endblock %}
