{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  {% include "bootstrap-css.html" %}
{% endblock %}
{% block content %}
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h1>{{ blog.title }}</h1>
        <p>{{ blog.user }}</p>
        <p>{{ blog.date }}</p>
        <p>{{ blog.likes|count }}</p>
      </div>
    </header>
    <section class="row">
      <div class="col-md-12">
        <p>{{ blog.text }}</p>
      </div>
    </section>
    <section class="btn-group">
      <a class="btn btn-primary btn-lg h1" href="/" role="button">Back</a>
      {% if loggedin %}
        <a class="btn btn-primary btn-lg h1" href="/comment-form/{{ blog_id }}" role="button">Respond</a>
        <a class="btn btn-primary btn-lg h1" href="/{{ like_status }}/{{ blog_id }}" role="button">{{ like_status|capitalize }}</a>
      {% else %}
        <a class="btn btn-primary btn-lg h1" href="/login" role="button">Respond</a>
        <a class="btn btn-primary btn-lg h1" href="/login" role="button">Like</a>
      {% endif %}
      <a class="btn btn-lg h1" href="#" role="button">{{ blog.likes|count }}</a>
    </section>
    <section class="blog-comments">
      {% for comment in comments %}
        <div class="row">
          <div class="col-md-12">
            <p>{{ comment.user }}</p>
            <p>{{ comment.date }}</p>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
{% block js %}
  {% include "jquery-js.html" %}
  {% include "bootstrap-js.html" %}
{% endblock %}
