{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
{% endblock %}
{% block content %}
  <div class="container">
    <header class="row">
      <div class="col-md-9 col-xs-12">
        <h1>om-blog</h1>
      </div>
      <div class="col-md-3 col-xs-12">
        <a hrelf="/login">{{ loggedin }}</a>
      </div>
    </header>
    {% for item in blog_titles %}
      <div class="item">{{ item }}</div>
    {% endfor %}
  </div>
{% endblock %}
{% block js %}
{% endblock %}
