{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  {% include "bootstrap-css.html" %}
  <link rel="stylesheet" href="css/style.css">
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <header class="header-background">
        <h1>OM-BLOG</h1>
        <p class="login-buttons">
          {% if loggedin %}
          <a class="btn btn-primary" href="/blog-form" role="button">Create Blog</a>
          <a class="btn btn-primary" href="/signout" role="button">Signout</a>
          {% else %}
          <a class="btn btn-primary" href="/login" role="button">Login</a>
          <a class="btn btn-primary" href="/register" role="button">Register</a>
          {% endif %}
        </p>
      </header>
    </div>
  </div>
  <div class="container">
    {% for item in blog_titles %}
    <article class="row post-preview">
      <header class="col-md-8 preview-header width-padding col-centered">
        <h1 class="h2"><a href="/blog/{{ item.key.urlsafe() }}">{{ item.title }}</a></h1>
        <time class="article-date" datetime="{{ item.date }}">
          Posted on {{ item.date.strftime('%A, %d. %B %Y') }} by {{ item.user }}
        </time>
        <p class="total-likes">{{ item.likes|length }}</p>
      </header>
      <div class="col-md-8 article-content col-centered">
        <p>{{ item.tease }}</p>
        <p><a href="/blog/{{ item.key.urlsafe() }}">Read on...</a></p>
      </div>
    </article>
    {% endfor %}
  </div>
{% endblock %}
{% block js %}
  {% include "jquery-js.html" %}
  {% include "bootstrap-js.html" %}
{% endblock %}
